@import-normalize;

:root {
  --c-grass: #9bcc50;
  --c-poison: #b97fc9;
  --c-fire: #fd7d24;
  --c-flying-1: #3dc7ef;
  --c-flying-2: #bdb9b8;
  --c-water: #4592c4;
  --c-bug: #729f3f;
  --c-normal: #a4acaf;
  --c-dragon-1: #53a4cf;
  --c-dragon-2: #f16e57;
  --c-fairy: #fdb9e9;
  --c-fighting: #d56723;
  --c-ground-1: #f7de3f;
  --c-ground-2: #ab9842;
  --c-electric: #eed535;
  --c-psychic: #f366b9;
  --c-rock: #a38c21;
  --c-ghost: #7b62a3;
  --c-ice: #51c4e7;
  --c-dark: #707070;
  --c-steel: #9eb7b8;
  --c-unknown: #fcffcd;
  --c-shadow: #7b76a0;

  --c-text-light: #f5f5f5;
  --c-text-dark: #131313;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.grass {
  background-color: var(--c-grass);
}
.poison {
  background-color: var(--c-poison);
}
.fire {
  background-color: var(--c-fire);
}
.flying {
  background: linear-gradient(
    to bottom right,
    var(--c-flying-1),
    var(--c-flying-2)
  );
}
.water {
  background-color: var(--c-water);
}

.bug {
  background-color: var(--c-bug);
}
.normal {
  background-color: var(--c-normal);
}

.dragon {
  background: linear-gradient(
    to bottom right,
    var(--c-dragon-1),
    var(--c-dragon-2)
  );
  /* background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%); */
}

.fairy {
  background-color: var(--c-fairy);
}
.fighting {
  background-color: var(--c-fighting);
}

.ground {
  background: linear-gradient(
    to bottom right,
    var(--c-ground-1),
    var(--c-ground-2)
  );
}

.rock {
  background-color: var(--c-rock);
}

.ghost {
  background-color: var(--c-ghost);
}

.steel {
  background-color: var(--c-steel);
}

.electric {
  background-color: var(--c-electric);
}

.psychic {
  background-color: var(--c-psychic);
}

.ice {
  background-color: var(--c-ice);
}

.dark {
  background-color: var(--c-dark);
}

.unknown {
  background-color: var(--c-unknown);
}

.shadow {
  background-color: var(--c-shadow);
}
